*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    width: 84%;
    max-width: 1600px;
}
header{
    
    background: url(images/developer.png), url(images/header_bg.png), #FFF8F3;
    background-position: top left, bottom right;
    background-repeat: no-repeat;
    padding-top: 50px;
}
.logo h2{
    margin-left: 90px;
    font-size: 45px;
    font-weight: 900;
}
.logo .orange{
    color: #FD6E0A;
}
nav{
    width: 84%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .menu ul{
    display: flex;
    list-style-type: none;
    gap: 50px;
    align-items: center;
}
.menu ul li a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}
.btn{
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 18px 35px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
#banner{
    width: 84%;
    max-width: 1332px;
    margin: 48px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#banner .banner-content{
    max-width: 585px;
}
.banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}
.banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: black;
    margin-bottom: 20px;
}
.banner-content p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}
.banner-image img{
    width: 585px;
    vertical-align: middle;
}
#about{
    padding-top: 130px;
}
.about-container{
    width: 84%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px;
}
.about-heading{
    max-width: 827px;
    text-align: center;
}
.about-heading h2{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 30px;
}
.about-heading p{
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
    line-height: 30px;
}
.about-info{
    max-width: 782px;
    display: flex;
    justify-content: space-around;
}
.info-card p{
    font-size: 20px;
    line-height: 30px;
    color: #757575;
}
.info-card h4{
    font-size: 20px;
    font-weight: bold;
}
#skills{
    padding-top: 130px;
}
.skill-container{
    width: 84%;
    max-width: 1140px;
    margin: 0 auto;
}
.skill-heading{
    max-width: 827px;
    margin: 0 auto;
    text-align: center;
}
.skill-heading h2{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
}
.skill-heading p{
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    margin-bottom: 50px;
}
.skill-box{
    margin: 0 230px;
    display: flex;
    gap: 24px;
}
.skill-card{
    padding: 30px;
    max-width: 267px;
}
.skill-card img{
    max-width: 44px;
    margin-bottom: 30px;
}
.skill-card h3{
    font-size: 20px;
    color: black;
    margin-bottom: 20px;
}
.skill-card p{
    font-size: 16px;
    color: #757575;
    line-height: 28px;
}
#resume{
    padding-top: 130px;
}

.resume-container{
    width: 84%;
    max-width: 1140px;
    margin: 0 230px;
    display: flex;
    gap: 71px;
}
.resume-heading h2{
 font-size: 35px;
 color: black;
 text-align: center;
 margin-left: 110px;   
}
.resume-title{
    font-size: 30px;
    color: #474747;
    margin-top: 113px;
    margin-bottom: 30px;
}

.resume-card h3{
    font-size: 25px;
    color: #474747;
    margin-bottom: 10px;
}
.card-info{
    font-size: 20px;
    font-weight: 600;
    color: #757575;
    margin-bottom: 20px;
}
.card-text{
    font-size: 16px;
    line-height: 28px;
    color: #757575;
    margin-bottom: 30px;
}
hr{
    margin-bottom: 30px;
    color: #d1d1d1;
}
.btn-cv{
    margin: 50px 600px 113px;
    text-align: center;
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 18px 35px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}